#analysis{
    height: 100%;
}
/* 响应式布局 */
@media (max-width: 768px) {
    main {
        padding: 10px; /* 增加小屏幕时的内边距 */
    }

    #analysis.page {
        width: 100%; /* 小屏幕时页面宽度为100% */
    }

    .gdmap h2 {
        font-size: 18px; /* 小屏幕时，字体稍微缩小 */
    }

    .content h2 {
        font-size: 20px; /* 小屏幕时，标题稍微缩小 */
    }

    #heatmap {
        height: 400px; /* 小屏幕时，地图高度缩小 */
    }
}

/* 主要布局 */
main {
    width:100%;  /* 宽度设为100%，占据整个父容器宽度 */
    height: calc(100vh - 20px); /* 高度设为100vh减去顶部的距离 */
    padding-top: 70px; /* 顶部留出20px的间距 */
    position: relative; /* 让子元素相对定位 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 地图容器 */
#container {
    width: 75%;  /* 地图宽度占据整个父容器 */
    height: 100%; /* 地图高度占据整个父容器 */
    display: flex; /* 使用Flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 控件容器 */
.input-card {
    position: absolute;
    z-index: 9999; /* 确保控件在地图之上 */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#map-styles {
    width: 100%; /* 控件宽度设为父容器宽度 */
}

.input-item {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.input-item input[type="radio"] {
    margin-right: 8px;
}
