<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校园内涝态势感知 - 积水径流</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/runoff.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <!-- 顶部导航栏 -->
    <nav class="main-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/logo01.png') }}" alt="校园内涝态势感知系统">
            <span>校园内涝态势感知</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}" class="active">首页</a></li>
    
            <!-- 态势感知导航项，包含下拉菜单 -->
            <li class="dropdown">
                <a href="{{ url_for('situation') }}">态势感知</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('research') }}">研究区域</a></li>
                    <li><a href="{{ url_for('meteorology') }}">气象水文</a></li>
                    <li><a href="{{ url_for('runoff') }}">积水径流</a></li>
                </ul>
            </li>
    
            <li><a href="{{ url_for('forecast') }}">预报预警</a></li>
            <li><a href="{{ url_for('analysis') }}">应急联动</a></li>
            <li><a href="{{ url_for('user') }}">帮助中心</a></li>
        </ul>
    </nav>

    <main>
        <section id="header-info" class="header-sec">
            <h1>积水径流 - 同济大学四平路校区</h1>
            <p>此页面展示了积水径流的实时动态信息，通过下方的交互式地图，您可以查看标注点详情。</p>
        </section>
        
        <section id="situation" class="monitoring-section fade-in">
          <!-- 地图容器 -->
            <div id="map-research"></div>
        </section>
    </main>

        <!-- 引入高德地图API -->
        <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f42b05089589c56b35ded541d9b5dc90&plugin=heatmap"></script>

         <!-- 引入自定义js 文件 -->
        <script src="{{ url_for('static', filename='scripts/map-runoff.js') }}"></script>
</body>
</html>